{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'mStyle/footer.css' %}">
{% endblock css %}

<div class="footer">
    <div class="footer__content">
        <div class="quick__links">
            <a href="/" class="quick__links--link">
                <i class="fas fa-code"></i>Developer
            </a>
            <a href="/" class="quick__links--link">
                <i class="fas fa-phone"></i>Contact Us
            </a>
            <a href="/" class="quick__links--link">
                <i class="fas fa-users"></i>About Us
            </a>
        </div>
        <div class="footer__right--side">
            <div class="footer__review">
                <h4 class="foot__review--heading">Your Feedback</h4>
                <textarea name="feedback" id="feedback" cols="30" rows="10" class="review__textBox" placeholder="Type your Feedback hare ..."></textarea>

                <div class="star__rating--container">
                    <label for="check-1">
                        <i class="fa-solid fa-star"></i>
                    </label>
                    <input type="radio" name="1" id="check-1" value="1">
                    <label for="check-2">
                        <i class="fa-solid fa-star"></i>
                    </label>
                    <input type="radio" name="2" id="check-2" value="2">
                    <label for="check-3">
                        <i class="fa-solid fa-star"></i>
                    </label>
                    <input type="radio" name="3" id="check-3" value="3">
                    <label for="check-4">
                        <i class="fa-solid fa-star"></i>
                    </label>
                    <input type="radio" name="4" id="check-4" value="4">
                    <label for="check-5">
                        <i class="fa-solid fa-star"></i>
                    </label>
                    <input type="radio" name="5" id="check-5" value="5">
                </div>

                <button type="submit" class="btn-blue w-100">Submit</button>
            </div>
            <div class="footer__social">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-telegram"></i>
                </a>
            </div>
        </div>
    </div>

   <div class="copyRight__container">
    <p class="copyRight-txt">
        &copy; All rights reserved
    </p>
    <p class="companyDetails">
        Designed &amp; Hosted by <span>PS<sup>3</sup></span>&nbsp;Tech
    </p>
   </div> 
</div>