{% extends 'main.html' %}

{% block body %}
  <style>
    span {
      color: green;
      font-weight: 700;
    }
  </style>

  <div class="main">
    Hello <span>{{ user.username|capfirst }}</span>
    <br />
    You are a <span>{{ user.profile.role|capfirst }}</span>
    <br />

    {% if user.profile.role == 'teacher' %}
      Teacher Location is <span>{{ teacher.location|capfirst }}</span>
      <br />
      {% elif user.profile.role == 'student' %}Student Institute is <span>{{ student.institute|capfirst }}</span>
      <br />
      {% elif user.profile.role == 'student' %}Owner of Mess <span>{{ owner.mess_name|capfirst }}</span>
    {% endif %}
  </div>

  {% comment %} <hr />

  <hr />user id
  <br />

  {% for user in users %}
    {{ user.id }} ===> user-name ===> {{ user.username }}
    <br />
  {% endfor %}
  <hr />

  {% for profile in profiles %}
    {{ profile }} ===> {{ profile.role }}
    <br />
  {% endfor %}

  <hr />
  {% for teacher in teachers %}
    teacher location ===> {{ teacher.location }}
    <br />
  {% endfor %}
  <hr />

  {% for student in students %}
    student institute ===> {{ student.institute }}
    <br />
  {% endfor %}
  <hr />

  {% for mess in messes %}
    mess.mess_name ===> {{ mess.mess_name }}
    <br />
  {% endfor %}
  <hr /> {% endcomment %}
{% endblock %}
