

<div id="c-sharp" class='iframeVideos'>
    <div class="videoTitle">C# in one video from <span class="channel-name">Code With Harry</span></div>
    <div class="iframes">
        <iframe  src="https://www.youtube.com/embed/SuLiu5AK9Ps" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
</div>


<div id="python" class='iframeVideos'>
    <div class="videoTitle">Python in one video from <span class="channel-name">Apna College</span></div>
    <div class="iframes">
        <iframe src="https://www.youtube.com/embed/vLqTf2b6GZw" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
</div>


<div id="java" class='iframeVideos'>
    <div class="videoTitle">Java in one video from <span class="channel-name">Apna college</span></div>
    <div class="iframes">
        <iframe  src="https://www.youtube.com/embed/UmnCZ7-9yDY" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
    </div>
</div>

<div id="c-sharp" class='iframeVideos'>
    <div class="videoTitle">C# in one video from <span class="channel-name">Code With Harry</span></div>
    <div class="iframes">
        <iframe  src="https://www.youtube.com/embed/SuLiu5AK9Ps" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
</div>

<div id="python" class='iframeVideos'>
    <div class="videoTitle">Python in one video from <span class="channel-name">Apna College</span></div>
    <div class="iframes">
        <iframe src="https://www.youtube.com/embed/vLqTf2b6GZw" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
</div>

<div id="java" class='iframeVideos'>
    <div class="videoTitle">Java in one video from <span class="channel-name">Apna college</span></div>
    <div class="iframes">
        <iframe  src="https://www.youtube.com/embed/UmnCZ7-9yDY" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
    </div>
</div>