{% extends "main.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'mStyle/all_institute.css' %}">

{% endblock css %}
{% block body %}
<h2>Institutes</h2>
    <div class="institute_container">
        {% for instut in all_institutes %}
        <a href="{% url 'notices' instut.id  %}">
                <div class="institute_item">
                
                <p><i class="fa-solid fa-building-columns"></i>&nbsp;{{instut.name}}
                    </p>
                    <p id="p"><i class="fa-solid fa-location-dot"></i>&nbsp;{{instut.institute_location}}</p>
            </div>
            </a>
            
            {% endfor %}

    </div>

{% endblock body %}