{% extends 'main.html' %}
{% load static %}



{% block css %} 
  <link rel="stylesheet" href="{% static 'mStyle/login.css' %} ">
{% endblock css %}


{% block login %}{% endblock login %}

{% block body %}


<div class="loginPage__container">
  <div class="login__form">
    <img src="{% static 'media/Wlcome-screen.png' %}" alt="welcome" class="imageSize">
  {% comment %} </div> {% endcomment %}

    <div class="position__form">
      {% comment %} <header class="loginStyle " > {% endcomment %}
        <h2 class='margin__heading'> Login </h2>
      {% comment %} </header> {% endcomment %}

      <form action="" method="post">
        {% csrf_token %}
        <label for="userName" class="labels">Username</label> <br>
        <input type="text" id="userName" name="username" placeholder="Enter your username" required><br><br>
        <label for="password" class="labels">Password</label><br>
        <input type="password" id="password" name="password" placeholder="Enter your password" required><br><br><br>
        <button type="submit"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;&nbsp;Sign in</button>
      </form>
      <div  class="linkPosition">
        <a href="{% url 'register' %}" rel="" class="linkDecoration">Don't have an account? <u>Register</u></a><br>
        <a href="/" rel="" class="linkDecoration"> <u>Forgot Password</u></a>
      </div>
      
    </div>
  </div>
</div>



  {% comment %} <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" />
    <input type="password" name="password" />
    <button type="submit">Sign in</button>
  </form> {% endcomment %}
  
{% endblock %}
