{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>StudentQ - The ultimate helping hand for Student , Teacher &amp; Room Owner </title>


{% comment %} all favicons for all devices {% endcomment %}

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png' %}">
  {% comment %} <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> {% endcomment %}

  <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon" />

  <link rel="manifest" href="{% static 'icons/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#D2FFF9">
  <meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png' %}">

  {% comment %} <meta name="theme-color" content="#D2FFF9"> {% endcomment %}

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#1a376e">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#1a376e">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  {% comment %} <meta name="apple-mobile-web-app-status-bar-style" content="#1a376e"> {% endcomment %}
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  

{% comment %} all favicons for all devices {% endcomment %}



  {% comment %} <a target="_blank" href="https://icons8.com/icon/80355/star">Star</a> icon by <a target="_blank"
    href="https://icons8.com">Icons8</a> {% endcomment %}
  {% comment %} <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon" /> {% endcomment %}


  <link rel="stylesheet" href="{% static 'mStyle/main.css' %}">
  <link rel="stylesheet" href="{% static 'mStyle/navDesign.css' %}">

  <!-- for other css file are used-->
  {%block css%}

  {%endblock%}

  {% comment %} font awesome cdn {% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>

<body onload="logingStart()">

{% comment %} Page loader added for great user experience  ---->Starts hare {% endcomment %}

  <div class="loaderPage__container">
    <img src="{% static 'media/Site_Logo.png' %}" alt="Logo" class="logo__loader">
        <div class="ball-loader">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
  </div>

  {% comment %} Page loader added for great user experience ---->Ends hare  {% endcomment %}

  <nav class="nav" id="nav">

    <div class="header" id="header">
      <a href="/"><img src="{% static 'media/Site_Logo.png' %}" alt="Site_Logo" class="site__logo"></a>
      <div class="btnContainer">
        <span class="log__in--out btn rounded-corner" style="font-size: 2.2rem;padding:0;color:var(--drk-white);" role="button">
          <i class="fa-solid fa-right-to-bracket"></i>
        </span>
        <div class="btnContainer--btns">
          {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}" role="button" class="btn btn-green rounded-corner btn-visible-onclick">Log
            Out</a>
          {% else %}
          <a href="{% url 'login' %}" role="button" class="btn btn-green rounded-corner btn-visible-onclick">Log In</a>
          <a href="{% url 'register' %}" role="button"
            class="btn btn-green rounded-corner btn-visible-onclick">Register</a>
          {% endif %}
        </div>
      </div>
    </div>

    <ul class="navber" id="navber">
      <li class="navlink navlink__active">
        <a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i>&nbsp;Home</a>
      </li>
      <li class="navlink">
        <a href="{% url 'institute' %}"><i class="fa-solid fa-graduation-cap"></i>&nbsp;Institute&nbsp;<i
            class="fa-solid fa-chevron-down sml__arrow"></i></a>
      </li>
      <li class="navlink">
        <a href="{% url 'studyMetirial' %}"><i class="fa-solid fa-book"></i>&nbsp;Study Material</a>
      </li>
      <li class="navlink">
        <a href="/"><i class="fa-solid fa-code"></i>&nbsp;Developers</a>
      </li>
      <li class="navlink">
        <a href="/"><i class="fa-solid fa-book"></i>&nbsp;Home</a>
      </li>
    </ul>

    {% comment %} toggle bar icon added {% endcomment %}
    <span class="toggle">
      <i class="fa-solid toggle__bars"></i>
    </span>


  </nav>





  {% comment %} closeable messages {% endcomment %}

  {% for message in messages %}
  {{message}}
  {% endfor %}


  {% block body %}

  {% endblock %}


  {% comment %} For other javaScript files are in used {% endcomment %}
  {% block javaScript %}

  {% endblock javaScript %}



  <script src="{% static 'mscript/index.js' %}" type="text/javaScript"></script>
</body>

</html>