{% extends "main.html" %}

{% block body %}
<h2>Notices</h2>

<!-- checks if user is student and his institute is this institute -->
{% if post_able %}
<a href="{% url 'postNotice' id %}"><button>post</button></a>

{% endif %}





{% for notice in ins_notices %}

{{notice.institute}}
{{notice.date_of_post}}
{{notice.student}}
{{notice.caption}}
<img src="{{notice.notice.url}}" alt="">

{% if request.user.username == notice.student %}
<h1>{{request.user}}</h1>
<a href="{% url 'delete' notice.id %}" onclick=""><button>Delete</button></a>
{% endif %}
<hr>
{% endfor %}


{% endblock body %}