{% extends 'main.html' %}
{% load static %}



{% block css %}
<link rel="stylesheet" href="{% static 'mStyle/post.css' %} ">
{% endblock css %}



{% block body %}

<div class="image">
    <img src="{% static 'media/Wlcome-screen.png' %}" alt="welcome" class="imageSize">
</div>

<div class="position">
    <header class="headerStyle ">
        <h2 class='margin'> Share Study Materials </h2>
    </header>

    <form action="" method="POST">
        {% csrf_token %}
        {% comment %} <span id="close">X</span> {% endcomment %}
        
        <div class="iButton">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>


        <input type="url" id="videoLink" name="link" placeholder="Enter video link" required><br>


        <input type="text" id="videoTitle" name="topic" placeholder="Enter video topic" required><br>
        <input type="text" id="videoTopic" name="desc" placeholder="Enter small description"><br>
        <button type="submit" value='submit' class='submitButton'>Submit</button>
    </form>

</div>

<script src="{% static 'mscript/post.js' %}"></script>

{% endblock body %}