{% extends 'main.html' %}

{% block body %}
  <hr />role page,<br />

  {% if page == 'student' %}
    <h3>you are Student</h3>
    <form action="" method="POST">
      {% csrf_token %}

      {% comment %}student data input form{% endcomment %}

      <input type="text" name="institute" placeholder="institute" />
      <input type="text" name="subject" placeholder="subject" />
      <input type="text" name="interest" placeholder="interest" />
      <input type="text" name="courseDuration" placeholder="courseDuration" />

      <button type="submit">Submit</button>
    </form>

    {% comment %}teacher data input form{% endcomment %}
    {% elif page == 'teacher' %}
    <h3>you are Teacher</h3>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" name="location" placeholder="location" />
      <input type="text" name="dptOfTeaching" placeholder="dptOfTeaching" />
      <input type="text" name="qualification" placeholder="qualification" />

      <button type="submit">Submit</button>
    </form>

    {% comment %}mess details input form{% endcomment %}
    {% elif page == 'owner' %}
    <h3>you are Owner</h3>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" name="mess_name" placeholder="mess Name" />
      <input type="text" name="rent" placeholder="rent " />
      <input type="text" name="bedAvailable" placeholder="bedAvailable" />
      <input type="text" name="address" placeholder="address" />

      <button type="submit">Submit</button>
    </form>
  {% endif %}
{% endblock %}
