{% extends 'main.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'mStyle/role_details.css' %}">
{% endblock %}


{% block body %}


<div class="role--details__container">

  <div id="form1">
    
    
    
    {% if page == 'student' %}
      
      <form class="position__form" action="" method="POST">

          <h2 class="margin__heading">Professional Details</h2>

        {% csrf_token %}


        {% comment %}student data input form{% endcomment %}
        
        <label for="institute" class="labels"> Institute Name</label>
        <input class="input_role" id="institute" type="text" name="institute" placeholder=" enter institute" />

<!-- institute location filed -->

        <label for="institute" class="labels">Institute loacation</label>
        <input class="input_role" id="institute" type="text" name="institute_location" placeholder=" enter institute" />

        <label for="subject" class="labels"> Subject</label>
        <input class="input_role" id="subject" type="text" name="subject" placeholder=" enter subject" />

        <label for="interest" class="labels">Interest</label>
        <input class="input_role" id="interest" type="text" name="interest" placeholder=" enter interest" />

        <label for="courceDuration" class="labels">Cource deration</label>
        <input class="input_role" id="courceDuration" type="text" name="courseDuration" placeholder=" enter courseDuration" />

        <button id="submit" type="submit">Submit</button>
      </form>

      {% comment %}teacher data input form{% endcomment %}
      {% elif page == 'teacher' %}
    
      <form class="position__form" action="" method="POST">

          <h2 class="margin__heading">Professional Details</h2>

        {% csrf_token %}

        <label for="location" class="labels">Select location</label>
        <input class="input_role" id="location" type="text" name="location" placeholder="Location" />

        <label for="deptOfTeach" class="labels">Select Depertment</label>
        <input class="input_role" type="text" id="deptOfTeach" name="dptOfTeaching" placeholder="Depertment Of Teaching" />

        <label for="qualification" class="labels">Institute Name</label>
        <input class="input_role" id="qualification" type="text" name="institute" placeholder="Which institute you are related with" />

        <label for="qualification" class="labels">Select qualification</label>
        <input class="input_role" id="qualification" type="text" name="qualification" placeholder="Qualification" />

        <button id="submit" type="submit">Submit</button>
      </form>

      {% comment %}mess details input form{% endcomment %}
      {% elif page == 'owner' %}

      <form class="position__form" action="" method="POST">
        
          <h2 class="margin__heading">Professional Details</h2>
          
        {% csrf_token %}

        <label for="messName" class="labels">Select mess name</label>
        <input class="input_role" id=""  type="text" name="mess_name" placeholder="mess Name" />

        <label for="qualification" class="labels">Institute Name</label>
        <input class="input_role" id="qualification" type="text" name="institute" placeholder="Which institute you are related with" />


        <label for="rent" class="labels">Select rent</label>
        <input class="input_role" id="rent" type="text" name="rent" placeholder="rent " />

        <label for="bedAvailable" class="labels">Select bed available</label>
        <input class="input_role" id="bedAvailable" type="text" name="bedAvailable" placeholder="bedAvailable" />

        <label for="address" class="labels">Select address</label>
        <input class="input_role" id="address" type="text" name="address" placeholder="address" />

        <button id="submit"type="submit">Submit</button>
      </form>

      {% endif %}
    </div>
</div>

 


{% endblock %}
