{% include "main.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'mStyle/studyMaterials.css' %}">
{% endblock %}


{% block body %}


{% comment %} <h2>Study Metirial</h2> {% endcomment %}


<!-- two options will be there one is iframes that will hard code us....and other will be public that they can post by sharing link of youtube video -->
<div class="miniNav">    
    <div class="head-mini-nav">
        <div class="buttons">
            <button id="public" onclick='publicBox()' class='navBtn' > <i class="fa-regular fa-newspaper fa-xl"></i>&nbsp;Public Resources</button>
            <button id="Recomandations" onclick='recomand()' class='navBtn'> <i class="fa-regular fa-thumbs-up fa-xl"></i> &nbsp;Our Recomandations</button>
            <a href="{% url 'post' %}"><button id='Post'> <i class="fa-solid fa-plus fa-xl"></i>Post</button></a>
        </div>
        <div class="search">
            <form action="" method='get' class="search-box"> 
                {% comment %} {% csrf_token %} {% endcomment %}
                <input type="text" class="search-text" placeholder='search anything' name='q' id='query'>
                <button type='submit' class="search-btn">
                    <i class="fa-solid fa-magnifying-glass fa-2xl" style='color:#20950F'></i>
                </button>
            </form>
        </div>
    </div>
   
</div>

<div class="main-study">

    <!-- public shares -->
    <div id='publicButton' class='titles'>Public Shared resources</div>

    <div id="public-videos">
        

        {% if posts|length < 1 %}
                Your search- "{{query}}" did not match any documentation <br>

                Suggestions:  Try different Keywords
        {% endif %}
        {% for tuts in posts %}
            <div class='publicShared'>
                <p>Shared by- <b class='name'>{{tuts.name}}</b></p> 
                <p class='date'>Posted - {{tuts.date_of_post | timesince}} ago</p>
                <a href="{{tuts.link}}" target="_blank"><button  class='publicVideosButton'>Visit</button></a>
                <p class='topic'>{{tuts.topic | capfirst}}</p>
                {% if tuts.desc %}
                    <p class='description'>{{tuts.desc | capfirst}}</p>
                {% else %}
                    <p class='description'>No Description</p>
                {% endif %}
                
            </div>
        {% endfor %}
    </div>

    
    <div id='recommand' class='titles'>Rrecomanded videos</div>
    <!-- Recomandations -->
    <div id="recomand-videos">

        {% include 'iframes.html' %}

    </div>
    
</div>

<script src="{% static 'mscript/studyMaterials.js' %}"></script>
{% comment %} <link rel="stylesheet" href="{% static 'mscript/studyMaterials.js' %}"> {% endcomment %}

{% endblock body %}