<!-- taking data to complete all details -->

{% extends 'main.html' %}

{% block css %}

{% load static %}
  <link rel="stylesheet" href="{% static 'mStyle/profile_details.css' %}">
{% endblock css %}


{% block body %}

<div class="personal--details__container">

<div id="form1">
 
  <form action="" method="POST"  enctype="multipart/form-data" id="position__form">

    <h2 class="margin__heading">Personal Details</h2>

    {% csrf_token %}

    {% comment %}profile data inputs{% endcomment %}
    <div  class="file_show"  >
      <!-- <label for="input_photo" class="file_upload_btn"><i class="fa-solid fa-image"></i>&nbsp;<span>Select an image file</span></label> -->
      <!-- <input  id="input_photo" class="input_role" type="file" name="dp" accept="image/*"> -->
      <div class="dp">
        <img src="{% static 'media/default_image/bydefault.jpg' %}" alt="not" id="profile_picture_show_after_upload" >
        <input type="file" name="dp" required id="input_profile_picture" accept="image/*">
        <label for="input_profile_picture" id="upload_button">&nbsp;<i class="fa-solid fa-image"></i></label>
      </div>

      <P class="filename"><i class="fa-solid fa-image"></i>&nbsp;<span></span></P>
      <p class="msg-line" >

        <span class="msg-info-require"> 
          <i class="fa-solid fa-circle-info fontIcon"></i>
            &nbsp;Click &nbsp;<i class="fa-solid fa-image"></i>&nbsp; button and upload your profile picture, profile picture size must be(30kb-70kb)
        </span>
        <span class="msg-exclamation">
          <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;
          Picture size is not valid -- (30kb-70kb)
        </span>
        <span class="msg-success">
          <i class="fa-solid fa-circle-check"></i>&nbsp;
          Picture is valided
        </span>
      </p>

      {% comment %} <i class="fa-solid fa-triangle-exclamation"></i>
      <i class="fa-solid fa-circle-info"></i>
      <i class="fa-solid fa-circle-check"></i> {% endcomment %}
    </div> 
    
    <input  class="input_role" type="text" name="full-name" placeholder="full-name" />
    <input class="input_role" type="email" name="email" placeholder="Email" />
    
    <select name="role" id="role" class="input_role" type="">
      {% comment %} <option value="student">Select your role</option> {% endcomment %}
      <option value="student">Student</option>
        <option value="teacher">Teacher</option>
    
      <option value="owner">Room Owner</option>
    
    </select>


    <input class="input_role" type="text" name="phNo" placeholder="phone No" />
    <input class="input_role" type="text" name="socialId" placeholder="socialId" />
    <input class="input_role" type="text" name="desc" placeholder="desc" />

    <button id="submit" type="submit">Submit</button>
  </form>

  </div>



  <script src="{% static 'mscript/profile_details.js' %}"></script>
{% endblock %}
