<!-- taking data to complete all details -->

{% extends 'main.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'mStyle/profile_details.css' %}">
{% endblock %}


{% block body %}
<div id="form1">
 
  <form action="" method="POST"  enctype="multipart/form-data">

    <header id="in_head">
      <h2 class="header_in">Personal</h2>
      <h2 class="header_in">Details</h2>
     </header>

    {% csrf_token %}

    {% comment %}profile data inputs{% endcomment %}
    <div  class="file_show"  >
    <!-- <div class="in"><input  id="input_photo" class="input_role" type="file" name="dp" accept="image/*"></div>
    <div class="in"><img id="img" src="{% static 'media/insta.png' %}" alt="not img"></div> -->
    <div class="dp">
      <img src="{% static 'media/img.jpg' %}" alt="not" id="img" >
      <input type="file" name="dp" id="file" accept="image/*">
      <label for="file" id="upload">➕</label>
    </div>
    <p class="msg" >This is requird field, picture size also (30kb-70kb)</p>
    </div> 
    
    <input  class="input_role" type="text" name="full-name" placeholder="full-name" />
    <input class="input_role" type="email" name="email" placeholder="Email" />
    
    <select name="role" id="role" class="input_role" type="">
      <option value="student">Student</option>
        <option value="teacher">Teacher</option>
    
      <option value="owner">Room Owner</option>
    
    </select>


    <input class="input_role" type="text" name="phNo" placeholder="phone No" />
    <input class="input_role" type="text" name="socialId" placeholder="socialId" />
    <input class="input_role" type="text" name="desc" placeholder="desc" />

    <button id="submit" type="submit">Submit</button>
  </form>

  </div>



  <script src="{% static 'mscript/profile_details.js' %}"></script>
{% endblock %}
