<!-- taking data to complete all details -->

{% extends 'main.html' %}

{% block body %}
 

  <form action="" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}

    {% comment %}profile data inputs{% endcomment %}

    <input type="text" name="full-name" placeholder="full-name" />
    <input type="email" name="email" placeholder="Email" />
    <input type="text" name="role" placeholder="Role" />
    <input type="text" name="phNo" placeholder="phone No" />
    <input type="text" name="socialId" placeholder="socialId" />
    <input type="text" name="desc" placeholder="desc" />
    <input class="form-control form-control-sm"  name="dp"  id="formFileSm" type="file" >

    <button type="submit">Submit</button>
  </form>
{% endblock %}
