/*--- Import fonts from google starts ---*/

/* Googlefont Poppins CDN Link ==> font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Googlefont Poppins CDN Link ==> font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*--- Import fonts from google ends ---*/


:root {
    --light-green-theme: #D2FFF9;
    --light-blue: #669CFF;
    --main-blue: #2F6BDA;
    --dark-blue: #1a376e;
    --light-dark-blue: #083891; 
    --theme-clr: #075E53;
    --hover-green: #094a42;
    --black: #000;
    --white: #fff;
    --drk-white: #f8f8f8;
    --light-gray: #d9d9d9;
    --placeholder-clr: #707070;
    --main-yellow: #FFE454;
}

*::selection {
    background-color: var(--theme-clr);
    color: var(--light-green-theme);
}

*::-webkit-scrollbar {
    background: var(--light-gray);
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background: var(--theme-clr);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:focus {
    background: var(--theme-clr);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
        overflow-x: hidden;
    }

}



body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: var(--light-green-theme);
    /* background-position: fixed; */
}

a {
    text-decoration: none;
}

.btn {
    text-decoration: none;
    padding: 0.6rem 1.6rem;
    font-size: 1.6rem;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.btn-green {
    color: var(--drk-white);
    background-color: var(--theme-clr);
}
.btn-green:hover {
    background-color: var(--hover-green);
    transform: scale(1.05);
}
.rounded-corner {
    border-radius: 3rem;
}

.sml__arrow{
    font-size: 1.5rem;
    margin-left: -0.2rem;
}

.toggle__cross::before{
    content: '\f00d';
}
.toggle__bars::before{
    content: '\f0c9';
}

/* .nav {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 1rem auto;
    position: relative;
} */



/* .header img {
    height: 6.5rem;
    user-select: none;
}

.header .btnContainer {
    background-color: #000;
    display: flex;
    gap: 0.6rem;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
    right: 6rem;
}

.btn {
    text-decoration: none;
    padding: 0.6rem 1.6rem;
    font-size: 1.6rem;
    transition: all 0.5s ease-out;
}

.btn-green {
    color: var(--drk-white);
    background-color: var(--theme-clr);
}

.rounded-corner {
    border-radius: 3rem;
}

.btn-green:hover {
    background-color: var(--hover-green);
    transform: scale(1.05);
}

.navber {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--main-blue);
    list-style: none;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.navber .navlink {
    font-size: 1.8rem;
    padding: 1.2rem 0.9rem;
}

.navber .navlink a {
    color: var(--drk-white);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width : 400px) {
    .nav{
        background-color: var(--main-blue) !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
} */