.slider__container {
    position: relative;
    width: 100%;
    height: 50rem;
    background-color: var(--theme-clr);
}
.slide{
    position: inherit;
    width: 100%;
    height: 50rem;
}
.slideImages__container{
    position: relative;
    height: 50rem;
    padding: 0;
    margin: 0;
    list-style: none;
}
.slideImages__container li img{
    position: absolute;
    width: 100%;
    height: 50rem;
    object-fit: cover;
}
.pagination--dot__container{
    position: absolute;
    /* background-color: aliceblue; */
    width: 100%;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
}
.pagination__dot{
    height: 1.4rem;
    width: 1.4rem;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}
.pagination__current{
    background-color: var(--main-blue);
}
.arrow__container{
    position: absolute;
    /* height: 50rem; */
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
}
.carousel__arrow{
    position: absolute;
    top: 50%;
    color: aliceblue;
    font-size: 3.8rem;
    font-weight: 200;
    transform: translateY(-50%);
    user-select: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.carousel__arrow:hover{
    color: var(--light-green-theme);
    /* font-size: 4.5rem; */
    transform: rotate(360deg);
}
.carousel__arrow.left__arrow {
    left: 5rem;
}
.carousel__arrow.right__arrow {
    right: 5rem;
}